<div>
    <ul class="nav justify-content-center grey lighten-4 ">
            <div *ngFor="let header of allCategoryList">
                    <li class="nav-item">
                            <a class="nav-link" (click)="cat1Click()">{{header.category_name}}</a>
                        </li>
                </div>
        <!-- <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Electronic Devices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Electronic Accessories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()">Women's Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Men's Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Watches & Accessories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Health & Beauty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  (click)="cat1Click()">Home & Kitchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cat1Click()" >Sports & Outdoor</a> 
        </li>-->
    </ul>
</div>
