<div>
    <ul class="nav justify-content-center grey lighten-4 ">
        <li class="nav-item">
            <a class="nav-link" href="#!">Electronic Devices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Electronic Accessories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Women's Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Men's Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Watches & Accessories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Health & Beauty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Home & Kitchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Sports & Outdoor</a>
        </li>
    </ul>
</div>
