<app-categories-tab></app-categories-tab>

<section class="text-center">
    <!--Section heading-->
    <h2 class="h2 font-weight-bold h2 py-3">Now Let's Get shopping</h2>
    <!--Section description-->
    <p class="grey-text pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
        iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
</section>

<!-- Electronic Devices -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Electronic Devices</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of electronicDeviceArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]= "card.imgName" >
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Electronic Accessories -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Electronic Accessories</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of electrocAccessoriesArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Woman's Fashion -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Woman's Fashion</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of womansFashionArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Men's Fashion -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Men's Fashion</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of mensFashionarray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Watches & Accessories -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Watches & Accessories</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of watchesArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Health & Beauty -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Health & Beauty</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of healthArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Home & Kitchen -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Home & Kitchen</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of homeKitchenArray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

<!-- Sports & Outdoor -->
<mdb-card class="card pb-3 rounded w-100">
    <mdb-card-body>

        <div class="container-fluid">
            <div class="row">
                <h4 class="font-weight-bold">Sports & Outdor</h4>
            </div>
            <hr class="bg-info">
        </div>

        <div class="row">
            <div class="col-md-2 pb-3" *ngFor="let card of sportsarray">

                <mdb-card class="card text-center pb-0 rounded hoverable ">
                    <div class="view overlay"  (click)="itemDetailsClicked()">
                        <img class="card-img-top img-responsive" style="height: 150px;" [src]="card.imgName">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <mdb-card-body>
                        <mdb-card-text class="text-center" style="margin-top: 5px;">
                            <h6 class="font-weight-bold">{{card.productName}}</h6>
                            <h5>Rs.{{card.uniPrice}}/=</h5>
                            <hr>
                            <p>Shop : ABC Stores</p>
                        </mdb-card-text>
                    </mdb-card-body>

                    <mdb-card-footer>
                        <span class="float-right">
                            <button type="button" mdbBtn color="info" mdbWavesEffect size="sm"  >Add<mdb-icon fas icon="shopping-cart" class="ml-1"></mdb-icon></button>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                                <mdb-icon fas icon="heart" class="ml-3"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>

    </mdb-card-body>
</mdb-card>

