<header class="h-100">
    <div class="row grey lighten-4">
        <div *ngIf="viewLogin" class="col-6">
                <ul class="nav justify-content-start font-weight-bold">
                    <li class="mx-1 my-2">
                        <a (click)="SinginClicked()">sign in</a>
                    </li>
                    <li class="mx-1 my-2">
                        <a>|</a>
                    </li>
                    <li class="mx-1 my-2">
                        <a (click)="SingupClicked()">sign up</a>
                    </li>
                </ul>
        </div>
        <div *ngIf!="viewLogin" >
            <ul class="nav justify-content-start font-weight-bold">
                <li class="mx-3 my-2">
                    Hello 
                 </li>
            </ul>

        </div>
        <div *ngIf="viewLogin" class="col-6 font-weight-bold">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button type="button" mdbBtn color="danger" mdbWavesEffect size="sm" (click)="onRegisterClicked()" >Become a seller<mdb-icon fas icon="store-alt" class="ml-1"></mdb-icon></button>
                </li>
            </ul>
        </div>
    </div>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black scrolling-navbar intro-fixed-nav" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand text-warning" href="#"><strong>Brand Name</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="home()">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="seeAllProducts()">Products</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="MyStoreClicked()">My Store</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="Contact()">Contact</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="About()">About</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbTooltip="Search an item" placement="bottom"><mdb-icon fas icon="search"></mdb-icon></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="MyProfileClicked()" mdbTooltip="My Account" placement="bottom"><mdb-icon fas icon="users"></mdb-icon></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="MyOrderHistoryClicked()" mdbTooltip="Order History" placement="bottom"><mdb-icon fas icon="history"></mdb-icon></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="MyCartClicked()" mdbTooltip="My Cart" placement="bottom"><mdb-icon fas icon="shopping-cart"></mdb-icon></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="SignOutClicked()" mdbTooltip="Log Out" placement="bottom"><mdb-icon fas icon="external-link-square-alt" data-target="#basicExample"></mdb-icon></a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>


<!-- <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>
  Bottom
</button> -->

<!-- <div mdbModal #frame="mdbModal" class="modal fade Bottom modal-scrolling" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document"> -->
    <!--Content-->
    <!-- <div class="modal-content"> -->
      <!--Body-->
      <!-- <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2"><b>You have successfuly log out from the system.</b></p>

          <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame.hide()">Ok, thanks</a>
        </div>
      </div>
    </div> -->
    <!--/.Content-->
  <!-- </div>
</div> -->
 