<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Log into my Shop</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
  
      <!-- Form -->
      <form style="color: #757575;">
  
        <p class="text-center">Connect With Us, Grow your Business Effortlessly !</p>
  
        <!-- E-mail -->
        <div class="md-form">
          <input type="email" id="materialSubscriptionFormEmail" name="materialSubscriptionFormEmail" [(ngModel)]="credentials.email" class="form-control" mdbInput>
          <label for="materialSubscriptionFormEmail">E-mail</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" id="materialSubscriptionFormPassword" name="materialSubscriptionFormPassword"[(ngModel)]="credentials.password" class="form-control" mdbInput>
            <label for="materialSubscriptionFormEmail">Password</label>
          </div>
  
        <!-- Sign in button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit" (click)="LogInClicked()">Log In</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form subscription -->