<!-- Material form subscription -->
<div *ngIf="startViewTable">
    <mdb-card>
  
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Manage Orders</strong>
        </h5>
      </mdb-card-header>
    
      <!--Card content-->
      <mdb-card-body class="px-lg-5">
          <table mdbTable class="text-center" striped="true">
              <thead class="black white-text">
                  <tr>
                      <th>Order ID</th>
                      <th>Customer</th>
                      <th>Payment type</th>
                      <th>Total Amount</th>
                      <th>Order Status</th>
                      <th></th>
                    </tr>
              </thead>
              <!-- <tr scope="row" *ngFor="let customerdata of getSelectedArray">
                <td>{{customerdata._id}}</td>
                <td>{{customerdata.productName}}</td>
                <td>{{customerdata.quantity}}</td>
                <td>
                  <a class="waves-light text-info" data-toggle="modal" (click) = "openDetails()"><u>More Details</u></a>
                </td>
              </tr> -->
              <tbody >
                  <tr scope="row" *ngFor="let customerdata of getSelectedArray" mdbTableCol scope="row">
                      <td>{{customerdata._id}}</td>
                      <td>{{customerdata.customerName}}</td>
                      <td>{{customerdata.payment}}</td>
                      <td>{{"Rs."+customerdata.total}}</td>
                      <td>{{customerdata.state}}</td>
                      <td><a>more details details<mdb-icon fas icon="arrow-right" size="m-5"  style="margin-left: 10px;" (click)="openData(customerdata)"></mdb-icon></a></td>
                    </tr>
              </tbody>
            </table>
      </mdb-card-body>
  
      <mdb-card-footer class="px-lg-5">
          
      </mdb-card-footer>
    </mdb-card>
</div>
    <!-- Material form subscription -->


 
<!-----------meka uda order details click kalma penna danna--------------------------------- -->
<div *ngIf="startView">
    <mdb-card >

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>{{"Order Details for "+this.getShowArray.orderId}}</strong>
        </h5>
      </mdb-card-header>
    
      <!--Card content-->
      <mdb-card-body class="px-lg-5">
          <table mdbTable striped="true">
              <tbody >
                <tr mdbTableCol>
                  <td>Full Name</td>
                  <!-- <td>{{": "+this.getShowArray.customerName}}</td> -->
                  <td>{{" : "+this.getShowArray.customerName}}</td>
              </tr>
              <tr mdbTableCol>
                  <td>Email</td>
                  <!-- <td>{{": "+this.getShowArray.email}}</td> -->
                  <td>{{" : "+this.getShowArray.email}}</td>
              </tr>
              <tr mdbTableCol>
                  <td>Billing Address</td>
                  <!-- <td>{{": "+this.getShowArray.address}}</td> -->
                  <td>{{" : "+this.getShowArray.address}}</td>
              </tr>
              <tr mdbTableCol>
                  <td>Contact Number</td>
                  <!-- <td>{{": "+this.getShowArray.mobileNumber}}</td> -->
                  <td>{{" : "+this.getShowArray.mobileNumber}}</td>
              </tr>
              <tr mdbTableCol>
                <td>Asstimated Dilivey Date</td>
                <td>: 2020-Nov-29</td>
             </tr>
             <tr mdbTableCol>
                <td>Current Order Status</td>
                <td>{{" "+this.getShowArray.state}}</td>
             </tr>
             <tr mdbTableCol>
                <td>Change Status -</td>
                <td>
                    
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value ="Shared1" id="defaultInline1" name="inlineDefaultRadios"
                            (click)="OrderReceived(this.getShowArray.orderId)" mdbInput [checked]="orderReceived" [disabled]="disabledOrderReceived">
                            <label class="custom-control-label" for="defaultInline1">Order Received</label>
                          </div>


                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value ="Shared2" id="defaultInline2" name="inlineDefaultRadios"
                            (click)="OrderPacking(this.getShowArray.orderId)" mdbInput [checked]="orderPacking" [disabled]="disabledOrderPacking" >
                            <label class="custom-control-label" for="defaultInline2">Order Packing</label>
                          </div>
                      
                        <!-- Default inline 2-->
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" value ="Shared" id="defaultInline3" name="inlineDefaultRadios"
                          (click)="RedyToDiliver(this.getShowArray.orderId,this.getShowArray)" mdbInput [checked]="redyToDiliver"  [disabled]="disabledRedyToDiliver" >
                          <label class="custom-control-label" for="defaultInline3">Ready to Diliver</label>
                        </div>
                      </div>
                        <!-- Default inline 3-->
                        
                </td>
            </tr>
              </tbody>
            </table>
            <h5 class="mt-5">Ordered Products</h5>
            <table mdbTable striped="true">
              <thead class="black white-text">
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let produtData of getShowArrayProduct" mdbTableCol>
                    <td>{{this.produtData.productName}}</td>
                    <!-- <td>{{" "+this.getShowArray.productName}}</td> -->
                    <td>{{this.produtData.quantity}}</td>
                    <!-- <td>{{" "+this.getShowArray.quantity}}</td> -->
                    <td>{{" : Rs."+this.produtData.total}}</td>
                    <!-- <td>{{"RS: "+this.getShowArray.total}}</td> -->
                </tr>
              </tbody>
            </table>
            
      </mdb-card-body>
  
      <mdb-card-footer class="px-lg-5">
          
      </mdb-card-footer>
    </mdb-card>

  </div>




