<div class="col-md-12 row mt-3">
    <div class="view col-md-6" 
    style="background-image: url('https://i.pinimg.com/originals/c6/53/57/c65357510381be68f5513991f4007a60.gif'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:360px">
    </div>

    <div class="col-md-6 text-center mt-3">
        <h2 class="font-weight-bold blue-text">About Us</h2>
        <p>
            For many of us, online shopping has become a routine part of daily life, with huge impact on a global scale. Here, you will have the best online shopping experince with us as we are here to serve you with the best products in Sri Lanka
            which you cannot find easily by yourselves. Whatever comes to your mind whihc feels like good to have, you can search it with us here
            and we assure you that the best brand and quality products will be there at your fingertips when you do your shopping with this 
            website. Almost everyone knows the online auction marketplace eBay. High commissions and negative experiences have led some users to try out alternatives. There are sustainable online marketplaces with fair business models and 
            platforms where you can buy and sell safely. We present the best eBay alternatives and make the comparison: Which can hold its own?
        </p>
    </div>

</div>

<div class="mx-5">
        <!-- Section: Testimonials v.2 -->
    <section class="text-center my-5">
        <!-- Section heading -->
        <h3 class="h1-responsive font-weight-bold mt-5">Best Shopping Experience</h3>
        <h5 class="font-weight-bold">- Customer Feedbacks -</h5>
        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">
        <!--First slide-->
        <mdb-slide>
            <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"  class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
                id
                officiis hic tenetur quae quaerat ad
                velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
                molestias
                voluptatum
                inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">John Doe</h4>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                alt="Second sample avatar image">
            </div>
            <!--Content-->
            <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                fugit,
                sed quia consequuntur magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                amet,
                consectetur,
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.
            </p>
            <h4 class="font-weight-bold">Maria Kate</h4>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                alt="Third sample avatar image">
            </div>
            <!--Content-->
            <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore
                eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque
                laudantium.</p>
            <h4 class="font-weight-bold">John Doe</h4>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            </div>
        </mdb-slide>
        <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    </section>
    <!-- Section: Testimonials v.2 -->
</div>
