.contact {
    border: 1px solid;
    box-shadow: 0 10px 20px;
    width: 800px;
    padding: 20px;
}

.head {
    border: 1px solid;
    box-shadow: 0 10px 20px;
    width: 1520px;
    padding: 20px;   
}

.contactus {
    border: 1px solid;
    box-shadow: 0 10px 20px;
    width: 650px;
    padding: 20px;
}