<mdb-card>  
   <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
        <strong>Contact Us!</strong>
        </h5>
    </mdb-card-header>

<div class="row">

 <!-- Grid column -->
    <div class="col-6">
        <div class="contact">

            <div class="media d-block d-md-flex">
                <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
                    src="https://mdbootstrap.com/img/Others/documentation/img (20)-mini.jpg" alt="Avatar">
                <div class="media-body text-center text-md-left ml-md-2 ml-0">
                    <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                    lacinia
                    congue felis in faucibus.

                    <div class="media d-block d-md-flex mt-3 shadow-textarea">
                        <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
                            src="https://image.flaticon.com/icons/png/128/727/727399.png"
                            alt="Generic placeholder image">
                        <div class="media-body text-center text-md-left ml-md-2 ml-0">
                            <!-- <h5 class="mt-0 font-weight-bold blue-text mb-3">Terry Shore</h5> -->
                            <div class="form-group basic-textarea rounded-corners mb-md-0 mb-4">
                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea3" rows="3"
                                    placeholder="Write your comment..."></textarea>
                                    <!-- <button type="button" class="btn btn-outline-info btn-rounded waves-effect btn-sm">Info</button> -->
                                    
                                    <a type="button" class="btn-floating light-blue"><i class="far fa-hand-point-up" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media d-block d-md-flex">
                <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
                    src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg" alt="Avatar">
                <div class="media-body text-center text-md-left ml-md-2 ml-0">
                    <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos
                    recusandae officiis commodi
                    nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum, itaque.
                </div>
            </div>
        </div>
    </div>
    <!-- Grid column -->




    <div>
        <div class="contactus">
            <div class="view"
                style="background-image: url('https://technic3000.com/images/contact-about.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:450px">
                <!-- Mask & flexbox options-->
                <div class="mask pattern-6 rgba-.rgba-.rgba-stylish-slight align-items-center">
                    <!-- Content -->
                    <div class="container">
                    </div>

                    
                    <!-- Default form contact -->
                    <form class="text-center border border-light p-5">

                        <!-- Name -->
                        <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
                            class="form-control mb-4" placeholder="Name">

                        <!-- Email -->
                        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
                            class="form-control mb-4" placeholder="E-mail">
                        <p class="white-text">How Was Your Experience With Us</p>
                        <!-- Default inline 1-->
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline1"
                                name="inlineDefaultRadiosExample" mdbInput>
                            <label class="custom-control-label" for="defaultInline1">Excellent</label>
                        </div>

                        <!-- Default inline 2-->
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline2"
                                name="inlineDefaultRadiosExample" mdbInput>
                            <label class="custom-control-label" for="defaultInline2">Good</label>
                        </div>

                        <!-- Default inline 3-->
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline3"
                                name="inlineDefaultRadiosExample" mdbInput>
                            <label class="custom-control-label" for="defaultInline3">Dissatisfied</label>
                        </div>
                        <div>
                        <button type="button" class="btn btn-outline-info btn-rounded waves-effect btn-sm">Send</button>
                        </div>
                    </form>
                    <!-- Default form contact -->

                    <h5 class=" white-text text-center">
                            <mdb-icon fab icon="facebook-f"></mdb-icon> Hotline : 112 555 555
                        </h5>
                        <h5 class=" white-text text-center">
                            <mdb-icon fab icon="google-plus-g"></mdb-icon> Email : abcd@gmail.com
                        </h5>
                        <h5 class="white-text text-center">
                            <mdb-icon fas icon="landmark"></mdb-icon> Address : No.5/17, Colombo
                        </h5>

                </div>
            </div>
        </div>
    </div>
<!-- Grid row -->

</div>
<mdb-card> 