<mdb-card>  
   <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
        <strong>Contact Us!</strong>
        </h5>
    </mdb-card-header>
<!-- Section: Contact v.2 -->
<div class="container">

<section class="mb-5 mt-2 ">
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
  
        <form>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control" mdbInput>
                <label for="contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control" mdbInput>
                <label for="contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control" mdbInput>
                <label for="contact-Subject" class="">Subject</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                  mdbInput></textarea>
                <label for="contact-message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </form>
  
        <div class="text-center text-md-left">
          <a mdbBtn color="primary" mdbWavesEffect>Send</a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <mdb-icon fas icon="map-marked" size="2x" class="blue-text"></mdb-icon>
            <p>San Francisco, CA 94126, USA</p>
          </li>
          <li>
            <mdb-icon fas icon="phone" size="2x" class="mt-4 blue-text"></mdb-icon>
            <p>+ 01 234 567 89</p>
          </li>
          <li>
            <mdb-icon fas icon="envelope" size="2x" class="mt-4 blue-text"></mdb-icon>
            <p class="mb-0">contact@example.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.2 -->
</div>

<!-- Grid row -->