<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Seller Registration</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
  
      <!-- Form -->
      <form style="color: #757575;">
  
        <p class="text-center">Connect With Us, Grow your Business Effortlessly !</p>
  
        <p class="text-center">
          <a href="" target="_blank">Click to see Terms & Conditions</a>
        </p>

        <div>
            <p>Business Model: </p>
                <!-- Default inline 1-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
                <label class="custom-control-label" for="defaultInline1">Personal</label>
            </div>
            
            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
                <label class="custom-control-label" for="defaultInline2">Shared</label>
            </div>
        </div>

        <!-- Name -->
        <div class="md-form mt-4">
          <input type="text" id="materialSubscriptionFormPasswords" class="form-control" mdbInput>
          <label for="materialSubscriptionFormPasswords">Full Name</label>
        </div>

        <!-- Company Name -->
        <div class="md-form mt-3">
            <input type="text" id="materialSubscriptionFormComapnyName" class="form-control" mdbInput>
            <label for="materialSubscriptionFormComapnyName">Shop Name</label>
          </div>

        <!-- Company ID -->
        <div class="md-form mt-3">
            <input type="text" id="materialSubscriptionFormComapnyID" class="form-control" mdbInput>
            <label for="materialSubscriptionFormComapnyID">Business Registration ID</label>
        </div>  

          <!-- Company Address -->
        <div class="md-form mt-3">
            <input type="text" id="materialSubscriptionFormComapnyAddress" class="form-control" mdbInput>
            <label for="materialSubscriptionFormComapnyAddress">Business Adress</label>
        </div>

         <!-- Company Contact -->
         <div class="md-form mt-0">
            <input type="text" id="materialSubscriptionFormPersonalConatcts" class="form-control" mdbInput>
            <label for="materialSubscriptionFormPersonalConatcts">Personal Contact</label>
        </div>
        <div class="md-form mt-3">
            <input type="text" id="materialSubscriptionFormOfficeConatcts" class="form-control" mdbInput>
            <label for="materialSubscriptionFormOfficeConatcts">Ofiice Contact</label>
        </div>

        <!-- E-mai -->
        <div class="md-form">
          <input type="email" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
          <label for="materialSubscriptionFormEmail">E-mail</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="email" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
            <label for="materialSubscriptionFormEmail">Create a Password</label>
          </div>

          <!-- Re-Password -->
        <div class="md-form">
            <input type="email" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
            <label for="materialSubscriptionFormEmail">Re Enter Password</label>
          </div>
  
        <!-- Sign in button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit">Register</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form subscription -->