<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>My Profile</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
        <table mdbTable striped="true">
            <tbody >
                <tr mdbTableCol>
                    <td>Full Name</td>
                    <td>: John Doe</td>
                </tr>
                <tr mdbTableCol>
                    <td>Email</td>
                    <td>: johndoe@gmail.com</td>
                </tr>
                <tr mdbTableCol>
                    <td>Billing Address</td>
                    <td>: No.25/4, first Lane, Galle Road, Colombo 04.</td>
                </tr>
                <tr mdbTableCol>
                    <td>Contact Number</td>
                    <td>: 0773932831</td>
                </tr>
            </tbody>
          </table>
    </mdb-card-body>

  </mdb-card>
  <!-- Material form subscription -->
