
<div class="container">
  <h3 class="card-header text-center info-color  font-weight-bold text-uppercase py-4">{{user_type_name}} table</h3>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable class="table table-bordered table-responsive-md table-striped text-center ">
    <thead  class="black white-text">
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">
          {{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{el.first_name}}</td>
        <td>{{el.last_name}}</td>
        <td>{{el.email}}</td>
        <td>{{el.user_type}}</td>
      </tr>
    </tbody>
  </table>
</div>
