<!-- Material form subscription -->
<mdb-card *ngIf="showCart">

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>My Cart</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
        <table mdbTable class="text-center" striped="true">
            <thead class="black white-text">
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody >
              <tr mdbTableCol *ngFor="let el of cartDetails ; let i = index" (click)="itemrawclicked()" >
                <th scope="row"> {{i+1}}</th>
                <td>{{el.productName}}</td>
                <td><span class="pt-5">
                  <!-- <mdb-icon fas icon="minus-circle" size="lg" class="px-2"></mdb-icon> -->
                  {{el. quantity}} 
                  <!-- <mdb-icon fas icon="plus-circle" size="lg" class="px-2"></mdb-icon> -->
                </span></td>
                  <!-- <td> <input id="itemQuantity" name="itemQuantity" type="number" value="{{el. quantity}}" aria-label="Search" class="form-control" [(ngModel)]="validatingForm.itemQuantity"
                    style="width: 100px" min="1"  (click)="increase()" ></td> -->
                  <td>{{el.uniPrice}}</td>
                <td></td>
                <td><button type="button" mdbBtn color="danger" size="sm" (click)="remove(i)" mdbWavesEffect>x</button></td>
              </tr>
            </tbody>
          </table>
    </mdb-card-body>

    <mdb-card-footer class="px-lg-5">
        <table mdbTable class="text-center">
            <thead class="black white-text">
              <tr>
                <th scope="col"><h4>Total : Rs.{{this.viewTotal}}/=</h4></th>
                <th scope="col"><button type="button" mdbBtn color="info" (click)="checkout()" mdbWavesEffect>Check Out</button></th>
              </tr>
            </thead>
          </table>
    </mdb-card-footer>
  </mdb-card>

  <app-payment *ngIf="showPayment" [Total]="viewTotal" [cartDetails]="cartDetails"></app-payment>
  <!-- Material form subscription -->