<div>
    <div class="row" *ngIf= "navbarStatus">
        <div class="col-md-12 w-100">
          <app-header></app-header>
        </div>
      </div>
      
    <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
    </div>
    <!-- 
      <div class="row">
        <div class="col-md-12">
          <app-user-chart></app-user-chart>
        </div>
      </div> -->
      <div class="row" *ngIf= "navbarStatus">
        <div class="col-md-12 w-100">
          <app-footer></app-footer>
        </div>
      </div>
</div>