
    <div class="container">
        <mdb-card>
            <mdb-card-body class="px-lg-5">
                <section class="team-section text-center my-5">
                    <!-- Grid row -->
                    <div class="row">
                
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-4 mb-lg-0">
                        <div class="avatar mx-auto">
                            <mdb-icon fas icon="boxes" class="cyan-text" size="5x"></mdb-icon>
                        </div>
                        <h5 class="font-weight-bold mt-4">Products</h5>
                        <h1 class="text-uppercase blue-text">
                        <strong>{{productrArray.length}} + </strong>
                        </h1>
                    </div>
                    <!-- Grid column -->
        
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-4 mb-lg-0">
                        <div class="avatar mx-auto">
                            <mdb-icon fas icon="store-alt" class="amber-text" size="5x"></mdb-icon>
                        </div>
                        <h5 class="font-weight-bold mt-4">Sellers</h5>
                        <h1 class="text-uppercase blue-text">
                        <strong>{{sellerArray.length}} +</strong>
                        </h1>
                    </div>
                    <!-- Grid column -->
        
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-4 mb-lg-0">
                        <div class="avatar mx-auto">
                            <mdb-icon fas icon="users" class="red-text" size="5x"></mdb-icon>
                        </div>
                        <h5 class="font-weight-bold mt-4 ">Customers</h5>
                        <h1 class="text-uppercase blue-text">
                        <strong>{{customersArray.length}} +</strong>
                        </h1>
                    </div>
                    <!-- Grid column -->
        
                    </div>
                    <!-- Grid row -->
                </section>
                <section class="team-section text-center my-5">
                    <table mdbTable class="text-center" striped="true">
                        <thead class="black white-text">
                            <tr>
                                <th>Category Id</th>
                                <th>Available Categories</th>
                                <!-- <th>Edit</th> -->
                                <th>Delete</th>
                              </tr>
                        </thead>
                        <tbody >

                                <tr mdbTableCol scope="row" *ngFor="let category of categoryData">
                                        <td>{{category.category_id}}</td>
                                        <td>{{category.category_name}}</td>
                                        <!-- <td><mdb-icon type="button" fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td> -->
                                        <td><mdb-icon type="button" fas icon="trash" size="m-5"  style="margin-left: 10px;" (click)="deleteData(category._id)"></mdb-icon></td>
                                </tr>
                            <!-- <tr mdbTableCol scope="row">
                                <td>Electronic Devices</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Electronic Accessories</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Electronic Accessories</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Woman's Fashion</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Men's Fashion</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Watches & Accessories</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Health & Beauty</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Home & Kitchen</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr>
                            <tr mdbTableCol scope="row">
                                <td>Sports & Outdoor</td>
                                <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                                <td><mdb-icon fas icon="trash" size="m-5"  style="margin-left: 10px;"></mdb-icon></td>
                            </tr> -->
                            <tr mdbTableCol scope="row" class="black white-text">
                                <td>Add a New Category</td>
                                <td></td><td></td>
                                <!-- <td><mdb-icon type="button" fas icon="plus" size="m-5"  style="margin-left: 10px;" (click)="addData()"></mdb-icon></td> -->
                            </tr>
                             <tr mdbTableCol scope="row">
                                <td><input placeholder="Add Category ID" type="text" name="materialSubscriptionFormid"  class="form-control"  [(ngModel)]="categorylist.category_id" mdbInput></td>
                                <td><input placeholder="Add Category Name" type="text" name="materialSubscriptionFormname"  class="form-control"  [(ngModel)]="categorylist.category_name" mdbInput></td>
                                <!-- <td><mdb-icon fas icon="pen" size="m-5"  style="margin-left: 10px;"></mdb-icon></td> -->
                                <td><mdb-icon type="button" fas icon="plus" size="m-5"  style="margin-left: 10px;" (click)="addData()"></mdb-icon></td>
                            </tr>
                        </tbody>
                      </table> 
                </section>
            </mdb-card-body>
        </mdb-card>
        

             
    </div>
