<!--Section: Features v.2-->
<section class="text-center my-4">

    <!-- Section heading
    <h2 class="h1 py-2 font-weight-bold">Why Us?</h2> -->

    <!--Section description-->
    <!-- <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p> -->
  
    <!--Grid row-->
    <div class="row text-left">
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="shopping-cart" size="2x" class="orange-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Secure Shopping</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="orange" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="shipping-fast" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Speed Delivery</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.2-->
