<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black scrolling-navbar intro-fixed-nav"
        [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand text-warning" href="#"><strong>Brand Name</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link">Home 
                    </a>
                </li> -->

                <!-- <div class="nav-item dropdown waves-light" dropdown>
                    <li mdbWavesEffect>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                            mdbWavesEffect>
                            Users<span class="caret"></span></a>
                    </li>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect (click)="UsersClicked(user_type)"
                            *ngFor="let user_type of user_types">{{user_type.type_name}}</a>
                    </div>

                </div> -->
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="sellerClicks()">Sellers</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="customerClicks()" >Customers</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="deliversClicks()">Delivers</a>
                </li>
                <!-- <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Contact</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">About</a>
                </li> -->
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="dahboardClicks()">
                        <mdb-icon fas icon="users"></mdb-icon>
                    </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>