<div class="container">
    <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/slider 1.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/slider 2.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/slider 3.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/slider 4.jpg" alt="First slide">
        </mdb-carousel-item>
    </mdb-carousel> -->
    <img class="d-block w-100 py-2" src="https://i.pinimg.com/originals/c6/53/57/c65357510381be68f5513991f4007a60.gif" alt="First slide">
</div>

