<div class="container">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://cdn6.f-cdn.com/contestentries/1409766/31058863/5b9158b97cc6b_thumb900.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://creativepool.com/files/candidate/portfolio/full/930805.jpg" alt="Second slide">
        </mdb-carousel-item>
    </mdb-carousel>
</div>

