<div class="row categories">
    <div class="col-md-12">
        <app-categories-tab></app-categories-tab>
    </div>
</div>

<div class="container">
    <div class="row banner">
        <div class="col-md-4">
            <app-banner-slider></app-banner-slider>
        </div>
        <div class="col-md-8">
            <section class="text-center">
                <!--Section heading-->
                <h2 class="h2 font-weight-bold h2 py-3">Now Let's Get shopping</h2>
                <!--Section description-->
                <p class="grey-text pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
                  iure provident voluptate esse quasi,
                  veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
                <p class="grey-text pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
                   iure provident voluptate esse quasi,
                   veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>  
              </section>
        </div>
    </div>
</div>

<div class="row itemCards">
    <div class="col-md-12">
        <app-item-card-slider></app-item-card-slider>
    </div>
</div>

<div class="container">
    <div class="row banner">
        <div class="col-md-8">
            <section class="text-center">
                <!--Section heading-->
                <h2 class="h2 font-weight-bold h2 py-3">Best Offers</h2>
                <!--Section description-->
                <p class="grey-text pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
                iure provident voluptate esse quasi,
                veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
                <p class="grey-text pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
                iure provident voluptate esse quasi,
                veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>  
            </section>
        </div>
        <div class="col-md-4">
            <img class="d-block w-100 py-2" src="https://www.theossystems.com/images/ecomm.gif">
        </div>
    </div>
</div>

<div class="row bottom">
    <div class="col-md-12">
        <app-home-bottom></app-home-bottom>
    </div>
</div>