<div class="row categories">
    <div class="col-md-12">
        <app-categories-tab></app-categories-tab>
    </div>
</div>

<div class="container">
    <div class="row banner">
        <div class="col-md-12">
            <app-banner-slider></app-banner-slider>
        </div>
    </div>
</div>

<div class="row itemCards">
    <div class="col-md-12">
        <app-item-card-slider></app-item-card-slider>
    </div>
</div>

<div class="row bottom">
    <div class="col-md-12">
        <app-home-bottom></app-home-bottom>
    </div>
</div>