<div class="container">
  <!-- Editable table -->
  <div class="card">
    <h3 class="card-header text-center info-color font-weight-bold text-uppercase py-4">Delivers</h3>
    <div class="card-body">
      <div id="table" class="table-editable text-center">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead class="black white-text">
            <tr>
              <th class="text-center">Delivers Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Contact</th>
              <th class="text-center">More Details</th>
            </tr>
          </thead>

          <tbody>
            <tr scope="row" *ngFor="let customer of delivers;  let i = index">
              <td>{{customer.full_name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.address}}</td>

              <td>
                <a data-toggle="tooltip" data-placement="top" title="Delete" data-target="#basicExample"
                  (click)="frame.show() ; moreData(i) ">
                  <u>More Details</u>
                </a>
              </td>
            </tr>
          </tbody>


        </table>
      </div>
    </div>
  </div>
</div>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Deliver Details</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="col-md-12  list-group-item clearfix">
          <div class="float-left">
            <h5>Full Name : {{full_name}}</h5>
            <h5>Email :{{email}} </h5>
            <h5>Contact No : {{conatct}}</h5>
            <h5>Licence No : {{drivingLicenceId}}</h5>
            <h5>Vehicle No :{{vehicaleLicenceNumber}} </h5>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Content-->
</div>